:host {
  grid-template-areas: "input toggler";
  grid-template-columns: minmax(0, 1fr) var(--spacing-lg);
}

:host(:focus-within) #toggler {
  display: inline-flex;
}

#toggler {
  background: var(--light);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: none;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  opacity: 0.5;
  padding: 0 var(--spacing-sm);
  transition: 125ms opacity;
}

#toggler:hover {
  opacity: 1;
}

#toggler svg {
  height: var(--font-size-lg);
  width: var(--font-size-lg);
}
