:host {
  display: inline-flex;
}

:host([visible]) #container {
  display: inline-block;
}

::slotted(*) {
  cursor: help;
}

#container {
  background: var(--dark);
  border-radius: var(--border-radius);
  box-shadow: 0 0 var(--spacing-md) var(--shadow);
  color: var(--light);
  display: none;
  padding: var(--spacing-xs);
  position: relative;
}

#container[data-popper-placement^="top"] > #arrow {
  bottom: calc(-1 * var(--spacing-xs));
}

#container[data-popper-placement^="bottom"] > #arrow {
  top: calc(-1 * var(--spacing-xs));
}

#container[data-popper-placement^="left"] > #arrow {
  right: calc(-1 * var(--spacing-xs));
}

#container[data-popper-placement^="right"] > #arrow {
  left: calc(-1 * var(--spacing-xs));
}

#arrow,
#arrow::before {
  height: calc(var(--spacing-xs) * 2);
  position: absolute;
  width: calc(var(--spacing-xs) * 2);
  z-index: -1;
}

#arrow::before {
  background: var(--dark);
  content: "";
  transform: rotate(45deg);
}
