:host([visible]) #picker {
  background: var(--gray-light);
  display: grid;
}

#picker {
  align-items: center;
  background: var(--light);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: var(--text-color);
  cursor: pointer;
  display: none;
  grid-auto-flow: row;
  grid-row-gap: 1px;
  justify-items: start;
  min-width: 12.5rem;
  z-index: 4;
}
