:host {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-bottom: var(--spacing-sm);
  position: relative;
  user-select: none;
}

:host(:hover) #checkmark {
  border: var(--border-hover);
}

:host(:focus),
:host(:focus-within) {
  outline: none;
}

:host(:focus) #checkmark,
:host(:focus-within) #checkmark {
  border: var(--border-focus);
  box-shadow: var(--shadow-focus);
}

:host([invalid]) #checkmark {
  background: var(--light);
  border: var(--border-error);
  box-shadow: var(--shadow-error);
}

:host([invalid]) #validation-tooltip {
  display: flex;
}

#label {
  color: var(--text-color);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

#input {
  box-sizing: border-box;
  cursor: pointer;
  height: var(--spacing-md);
  margin: 0;
  opacity: 0;
  position: absolute;
  width: var(--spacing-md);
}

#input:checked + #checkmark {
  background-color: var(--primary);
  border: var(--border-focus);
}

#input:checked + #checkmark:after {
  display: inline-flex;
}

#checkmark {
  background-color: var(--gray-light);
  border: var(--border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: inline-block;
  height: var(--spacing-md);
  margin-right: var(--spacing-sm);
  pointer-events: none;
  position: relative;
  transition-duration: 125ms;
  transition-property: background, border, shadow;
  width: var(--spacing-md);
}

#checkmark:after {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  color: var(--light);
  content: "✔";
  display: none;
  height: var(--spacing-md);
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--spacing-md);
}

#validation-tooltip {
  cursor: default;
  display: none;
  left: calc(-1 * var(--spacing-sm));
  position: absolute;
  top: calc(-1 * var(--spacing-sm));
  z-index: 1;
}

#validation-tooltip svg {
  color: var(--error);
  height: var(--font-size-lg);
  width: var(--font-size-lg);
}
