:host {
  background: var(--gray-light);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  display: block;
  margin-bottom: var(--spacing-sm);
  overflow-x: auto;
  width: 100%;
}

pre {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin: 0;
  padding: var(--spacing-sm);
}
