:host([visible]) #picker {
  display: grid;
}

#picker {
  background: var(--light);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: var(--text-color);
  display: none;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  height: 17.5rem;
  position: relative;
  width: 15rem;
}

.header {
  border-bottom: 1px solid var(--gray-light);
  display: grid;
  padding: var(--spacing-xs);
}

.header span {
  align-items: center;
  color: var(--text-color);
  display: inline-flex;
  font-size: var(--font-size-sm);
  justify-content: center;
  line-height: var(--line-height-sm);
  padding: var(--spacing-xs);
}

.header button {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-sm);
  justify-content: center;
  line-height: var(--line-height-sm);
  padding: var(--spacing-xs);
  transition-duration: 125ms;
  transition-property: color, background;
}

.header button:hover {
  color: var(--primary);
}

.header button:focus {
  outline: none;
}

.header svg {
  width: var(--font-size-md);
}

#daily-view-header {
  grid-template-columns: repeat(2, 1fr 2fr 1fr);
}

#monthly-view-header {
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

.content {
  align-content: stretch;
}

#daily-view-content {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(7, minmax(0, 1fr));
  padding: var(--spacing-xs);
}

#monthly-view-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  padding: var(--spacing-xs);
}

.weekday {
  align-items: center;
  color: var(--text-color-secondary);
  display: flex;
  font-size: var(--font-size-sm);
  font-style: italic;
  justify-content: center;
}

.date {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding: var(--spacing-xs);
}

.date > span {
  align-items: center;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  padding: var(--spacing-xs);
  pointer-events: none;
  transition: 125ms color;
}

.date:hover > span {
  color: var(--primary);
}

.date.today > span {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.date.active > span {
  background: var(--primary);
  color: var(--light);
}
