:host([visible]) #picker {
  display: grid;
}

#picker {
  background: var(--light);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: var(--text-color);
  display: none;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  height: 20rem;
  position: relative;
  width: 17rem;
}

#header {
  border-bottom: 1px solid var(--gray-light);
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  padding: var(--spacing-xs);
}

#header .btn {
  align-items: center;
  color: var(--text-color);
  display: inline-flex;
  font-size: var(--font-size-md);
  justify-content: center;
  line-height: var(--line-height-md);
  transition-duration: 125ms;
  transition-property: color, background;
}

#header .btn:hover {
  background: var(--gray-light);
  color: var(--primary);
}

#content {
  align-content: stretch;
  display: grid;
  padding: var(--spacing-xs);
}

.daily {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.monthly {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.yearly {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.yearly :nth-of-type(3) {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.weekday {
  align-items: center;
  color: var(--text-color-secondary);
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  font-style: italic;
  justify-content: center;
}

.btn {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding: var(--spacing-xs);
}

.btn:focus {
  outline: none;
}

.btn > span {
  align-items: center;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  padding: var(--spacing-xs);
  pointer-events: none;
  transition: 125ms color;
}

.btn:hover > span {
  background: var(--gray-light);
  color: var(--primary);
}

.btn.today > span {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.btn.active > span {
  background: var(--primary);
  color: var(--light);
}

#prev-decade {
  grid-column: 1;
  grid-row: 1;
}

#next-decade {
  grid-column: 6;
  grid-row: 9;
}

.zoom {
  transform: scale(2) translateY(1px);
  transform-origin: bottom center;
}
