:host {
  grid-gap: 1px;
  grid-template-areas:
    "input inc"
    "input dec";
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: repeat(2, minmax(8px, auto));
}

:host(:focus-within) {
  background: var(--gray);
}

:host(:focus-within) button {
  color: var(--gray-dark);
  display: grid;
}

:host(:focus-within) button:hover {
  color: var(--dark);
}

:host([invalid]) button {
  display: none;
}

#input::-webkit-outer-spin-button,
#input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input {
  -moz-appearance: textfield;
}

button {
  align-self: stretch;
  background: var(--light);
  border: none;
  color: var(--gray);
  cursor: pointer;
  display: none;
  justify-items: center;
  justify-self: stretch;
  line-height: var(--line-height-sm);
  padding: 0;
  transition-duration: 125ms;
  transition-property: color, background, opacity;
}

button:focus {
  outline: none;
}

button svg {
  height: var(--font-size-sm);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
  width: var(--font-size-sm);
}

#inc {
  border-top-right-radius: var(--border-radius);
  grid-area: inc;
}

#dec {
  border-bottom-right-radius: var(--border-radius);
  grid-area: dec;
}

#error {
  grid-area: input;
}
