:host {
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--spacing-md);
  grid-template-rows: repeat(2, minmax(var(--spacing-md), 1fr));
  transition: 125ms border;
  width: 100%;
}

:host(:hover) {
  border: 1px solid var(--gray-dark);
}

:host(:focus) {
  border: 1px solid var(--primary);
  outline: none;
}

:host(:focus) button {
  color: var(--gray-dark);
  opacity: 1;
  pointer-events: initial;
}

:host(:focus) button:hover {
  color: var(--dark);
}

input {
  border: none;
  border-radius: var(--border-radius);
  color: var(--dark);
  font-size: var(--font-size-md);
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  line-height: var(--line-height-md);
  padding: 5px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  color: var(--gray);
  cursor: pointer;
  font-size: var(--font-size-sm);
  grid-column: 2;
  justify-self: stretch;
  line-height: var(--line-height-sm);
  opacity: 0;
  padding: 0;
  pointer-events: none;
  transition-duration: 125ms;
  transition-property: color, background, opacity;
}

button:focus {
  outline: none;
}

#inc {
  border-top-right-radius: var(--border-radius);
  grid-row: 1;
}

#dec {
  border-bottom-right-radius: var(--border-radius);
  grid-row: 2;
}
