:host {
  border: 1px solid var(--gray, Gainsboro);
  border-radius: var(--border-radius, 4px);
  display: grid;
  grid-template-columns: minmax(0, 1fr) 15px;
  grid-template-rows: repeat(2, minmax(15px, 1fr));
  transition: 125ms border;
}

:host(:hover) {
  border: 1px solid var(--gray-dark, Silver);
}

:host(:hover) button {
  color: var(--gray, Gainsboro);
  opacity: 1;
}

:host(:focus) {
  border: 1px solid var(--primary, DodgerBlue);
  outline: none;
}

:host(:focus) button {
  color: var(--gray-dark, Silver);
  cursor: pointer;
  opacity: 1;
}

:host(:focus) button:hover {
  color: var(--dark, Black);
}

:host(:focus) button:focus {
  outline: none;
}

input {
  border: none;
  border-radius: var(--border-radius, 4px);
  color: var(--dark, Black);
  font-size: var(--font-size-md, 14px);
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  padding: 5px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  color: var(--gray-dark, Silver);
  font-size: var(--font-size-sm, 10px);
  grid-column: 2;
  justify-self: stretch;
  opacity: 0;
  padding: 0;
  transition-duration: 125ms;
  transition-property: color, background, opacity;
}

#inc {
  border-top-right-radius: var(--border-radius, 4px);
  grid-row: 1;
}

#dec {
  border-bottom-right-radius: var(--border-radius, 4px);
  grid-row: 2;
}
