:host {
  background: var(--light);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  cursor: text;
  display: grid;
  grid-template-areas: "input toggler";
  grid-template-columns: minmax(0, 1fr) var(--spacing-lg);
  margin-bottom: var(--spacing-sm);
  position: relative;
  transition-duration: 125ms;
  transition-property: border, box-shadow;
  width: 100%;
}

:host(:hover) {
  border: 1px solid var(--primary);
}

:host(:focus-within) {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 2px var(--primary-shadow);
  outline: none;
}

:host(:focus-within) #toggler {
  color: var(--gray-dark);
  opacity: 1;
  pointer-events: initial;
}

:host(:focus-within) #toggler:hover {
  color: var(--dark);
}

:host([invalid]) {
  background: var(--light);
  border: 1px solid var(--error);
  box-shadow: 0 0 0 2px var(--error-shadow);
}

:host([invalid]) #error {
  opacity: 1;
}

input {
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  color: var(--dark);
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
  padding: var(--spacing-sm);
}

input:focus {
  outline: none;
}

#error {
  display: flex;
  left: calc(-0.5 * var(--spacing-md));
  opacity: 0;
  position: absolute;
  top: calc(-0.5 * var(--spacing-md));
  transition: 125ms opacity;
}

#error svg {
  color: var(--error);
  height: var(--font-size-md);
  width: var(--font-size-md);
}

#toggler {
  background: var(--light);
  border: none;
  cursor: pointer;
  display: inline-grid;
  grid-area: toggler;
  justify-self: stretch;
  line-height: var(--line-height-sm);
  opacity: 0;
  padding: 0;
  pointer-events: none;
  transition-duration: 125ms;
  transition-property: color, background, opacity;
}

#toggler svg {
  height: var(--font-size-lg);
  width: var(--font-size-lg);
}
