:host {
  grid-template-areas: "input toggler";
  grid-template-columns: minmax(0, 1fr) var(--spacing-lg);
}

:host(:focus-within) #toggler {
  color: var(--gray-dark);
  opacity: 1;
  pointer-events: initial;
}

:host(:focus-within) #toggler:hover {
  color: var(--dark);
}

#toggler {
  background: var(--light);
  border: none;
  cursor: pointer;
  display: inline-grid;
  grid-area: toggler;
  justify-self: stretch;
  line-height: var(--line-height-sm);
  opacity: 0;
  padding: 0;
  pointer-events: none;
  transition-duration: 125ms;
  transition-property: color, background, opacity;
}

#toggler svg {
  height: var(--font-size-lg);
  width: var(--font-size-lg);
}
