:host {
  align-items: center;
  background: var(--light);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  cursor: text;
  display: grid;
  grid-template-areas: "input";
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  margin-bottom: var(--spacing-sm);
  position: relative;
  transition-duration: 125ms;
  transition-property: background, border, box-shadow;
  width: 100%;
}

:host(:hover) {
  border: 1px solid var(--primary);
}

:host(:focus-within) {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 2px var(--primary-shadow);
  outline: none;
}

:host([invalid]) {
  background: var(--light);
  border: 1px solid var(--error);
  box-shadow: 0 0 0 2px var(--error-shadow);
}

:host([invalid]) #error {
  display: flex;
}

#input {
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  color: var(--dark);
  font-size: var(--font-size-md);
  grid-area: input;
  line-height: var(--line-height-sm);
  padding: var(--spacing-sm);
}

#input:focus {
  outline: none;
}

#error {
  cursor: help;
  display: none;
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  padding: 0 var(--spacing-xs);
  transition: 125ms opacity;
  z-index: 1;
}

#error svg {
  color: var(--error);
  height: var(--font-size-xl);
  width: var(--font-size-xl);
}
