:host {
  background: var(--light);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  display: grid;
  margin-bottom: var(--spacing-sm);
  position: relative;
  transition-duration: 125ms;
  transition-property: background, border, box-shadow;
  width: 100%;
}

:host(:hover) {
  border: 1px solid var(--primary);
}

:host(:focus-within) {
  background: var(--gray);
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 2px var(--primary-shadow);
  outline: none;
}

:host([invalid]) {
  background: var(--light);
  border: 1px solid var(--error);
  box-shadow: 0 0 0 2px var(--error-shadow);
}

:host([invalid]) #sign {
  opacity: 1;
}

:host([invalid]) button {
  opacity: 0;
  pointer-events: none;
}

input {
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  color: var(--dark);
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
  padding: var(--spacing-sm);
}

input:focus {
  outline: none;
}

#sign {
  display: flex;
  left: calc(-0.5 * var(--spacing-md));
  opacity: 0;
  position: absolute;
  top: calc(-0.5 * var(--spacing-md));
  transition: 125ms opacity;
}

#sign svg {
  fill: var(--error);
  height: var(--font-size-md);
  width: var(--font-size-md);
}
